@font-face { font-family: DigitalSea; src: url("../Resources/Prime.ttf"); } 

body {
    background: #101010;
    color: #eeeeee;
    background-size: 100vh 100vw;
}

.main {
    margin-top: 20vh;
    text-align: center;
}

.main, h1 {
    font-family: DigitalSea, 'Courier New', Courier, monospace;
}

#logo {
    width: 30vh;
    height: auto;
}

#searchBar {
    margin-top: 4vh;
    width: 60vw;
    height: 4vh;
    border: 0px;
    background-color: #ffffff10;
    color: #eeeeee;
    padding-left: 1vw;
    padding-right: 1vw;
}

::placeholder {
    color: #dddddd;
    text-align: center;
}